
/src/TestResults
/src/JamesGames.PlayingCards/bin
/src/JamesGames.PlayingCards/obj
/src/JamesGames.PlayingCards.Tests/obj
/src/JamesGames.PlayingCards.Tests/bin
/src/JamesGames.War/bin
/src/JamesGames.War/obj
/src/JamesGames.War.Tests/obj
/src/JamesGames.War.Tests/bin
/src/JamesGames.War.ConsoleApp/bin
/src/JamesGames.War.ConsoleApp/obj